/*!CK:1637131630!*//*1458526727,*/

._wc8{padding-left:20px}
.sp_JD0L4jI4KYp{background-image:url(/rsrc.php/v2/yw/r/pO-VOPkWdcF.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:30px;width:30px}.sp_JD0L4jI4KYp.sx_e66ab5{width:34px;height:34px;background-position:0 0}.sp_JD0L4jI4KYp.sx_547422{background-position:0 -35px}.sp_JD0L4jI4KYp.sx_9bb30d{background-position:0 -66px}.sp_JD0L4jI4KYp.sx_2888bf{width:16px;height:16px;background-position:0 -97px}.sp_JD0L4jI4KYp.sx_5c6124{width:16px;height:16px;background-position:-17px -97px}

#bootloader_vqhMx{height:42px;}.bootloader_vqhMx{display:block!important;}