/*!CK:1988387785!*//*1458489614,*/

._t8f{width:500px}
.uiTypeaheadView .compact img._492o{float:right;height:24px;margin:3px 3px 0 0;position:relative;width:24px}._531g{display:block;height:32px;left:6px;position:absolute;width:32px}

#bootloader_HqsCR{height:42px;}.bootloader_HqsCR{display:block!important;}